<!-- -*- mode: XML -*- -->
<launch>
  <node pkg="dynamixel_controllers" type="controller_manager.py" name="dynamixel_manager" required="true" output="screen">
    <rosparam>
      namespace: dxl_manager
      serial_ports:
        sis_arm_port:
          port_name: "/dev/ttyUSB0"
          baud_rate: 1000000
          min_motor_id: 1
          max_motor_id: 25
          update_rate: 20  
    </rosparam>
  </node>
</launch>
